.banners{
    display: flex;
    margin-top: 140px;
}
.banners img{
  height: 490px;
}
.scrollContainer {
    overflow-x: auto;
    white-space: nowrap;
}
.contentWrapper {
    position: relative;
  }
.scrollButton2 {
    color: rgb(74, 86, 98);
    text-shadow: 14px 4px 14px rgb(77, 106, 135);
    outline: 1px solid white; /* Outline to simulate border */

    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 40px;
    font-size: 54px;
    cursor: pointer;
    z-index: 1; /* Ensure buttons are above images */
  }
  .scrollButton2:first-child {
    left: 10px;
  }
  
  .scrollButton2:last-child {
    right: 10px;
  }
